*.wz filter=lfs diff=lfs merge=lfs -text
List.wz filter=lfs diff=lfs merge=lfs -text
Morph.wz filter=lfs diff=lfs merge=lfs -text
Quest.wz filter=lfs diff=lfs merge=lfs -text
Etc.wz filter=lfs diff=lfs merge=lfs -text
Npc.wz filter=lfs diff=lfs merge=lfs -text
String.wz filter=lfs diff=lfs merge=lfs -text
Sound.wz filter=lfs diff=lfs merge=lfs -text
UI.wz filter=lfs diff=lfs merge=lfs -text
Base.wz filter=lfs diff=lfs merge=lfs -text
Character.wz filter=lfs diff=lfs merge=lfs -text
Map.wz filter=lfs diff=lfs merge=lfs -text
Mob.wz filter=lfs diff=lfs merge=lfs -text
Reactor.wz filter=lfs diff=lfs merge=lfs -text
Skill.wz filter=lfs diff=lfs merge=lfs -text
Effect.wz filter=lfs diff=lfs merge=lfs -text
Item.wz filter=lfs diff=lfs merge=lfs -text
TamingMob.wz filter=lfs diff=lfs merge=lfs -text
SmallClient/UI.wz filter=lfs diff=lfs merge=lfs -text
